NET "clock" LOC = "E12"| IOSTANDARD = LVCMOS33 ;
NET "clock" PERIOD = 20.0ns HIGH 40%;
NET "reset"		LOC = "T14";

NET "gpo<7>" LOC = "W21";
NET "gpo<6>" LOC = "Y22";
NET "gpo<5>" LOC = "V20";
NET "gpo<4>" LOC = "V19";
NET "gpo<3>" LOC = "U19";
NET "gpo<2>" LOC = "U20";
NET "gpo<1>" LOC = "T19";
NET "gpo<0>" LOC = "R20";